<div class="dashboard-login-form-group-container">
  <div class="dashboard-login-form-group-dashboard-login-form-group">
    <div class="dashboard-login-form-group-form">
      <span class="dashboard-login-form-group-text">
        <span>Forgot password?</span>
      </span>
      <div class="dashboard-login-form-group-login-button">
        <span class="dashboard-login-form-group-text2"><span>login</span></span>
      </div>
      <div class="dashboard-login-form-group-password-text">
        <span class="dashboard-login-form-group-text4">
          <span>password</span>
        </span>
        <img
          alt="lock118"
          src="/assets/external/lock118-3iji.svg"
          class="dashboard-login-form-group-lock"
        />
      </div>
      <div class="dashboard-login-form-group-username-text">
        <span class="dashboard-login-form-group-text6">
          <span>Username</span>
        </span>
        <img
          alt="user112"
          src="/assets/external/user112-pyw.svg"
          class="dashboard-login-form-group-user"
        />
      </div>
      <div class="dashboard-login-form-group-vector-icons">
        <img
          alt="Vector128"
          src="/assets/external/vector128-wzo.svg"
          class="dashboard-login-form-group-vector"
        />
        <img
          alt="Vector129"
          src="/assets/external/vector129-49d3.svg"
          class="dashboard-login-form-group-vector1"
        />
        <img
          alt="Vector130"
          src="/assets/external/vector130-4gqq.svg"
          class="dashboard-login-form-group-vector2"
        />
        <img
          alt="Vector131"
          src="/assets/external/vector131-852b.svg"
          class="dashboard-login-form-group-vector3"
        />
      </div>
    </div>
  </div>
</div>
